* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px dotted red; */
}

/* body {
    display: flex;
    justify-content: center;
} */


header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: #1f2937;
    color: #F9FAF8;
    align-items: center;
}
 header > div {
    width: 1000px;
 }

.navigation-bar {
    display: flex;
    height: fit-content;
    padding: 15px;
    
}

.navigation-bar > h1,
.navigation-bar > ul {
    width: 50%;

}

.navigation-bar > h1 {
    font-size: 24px;
    color: #f9faF8;
}

.header-link-box {
    display: flex;
    flex-direction: row;
}

.header-link-box > li{
    flex: 1;
    text-align: center;
    align-content: center;
    list-style: none;    
    font-size: 18px;
}

/*  */

.summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.summary-info {
    flex: 1 1 auto;
    width: 50%;
    height: 100%;
    align-content: center;
    align-self: center;
    /* background-color: grey; */
    overflow: hidden;


}

.text {
    /* background-color: inherit; */
    padding: 15px;
}
.summary-info > h2 {
    font-size: 48px;
}

.summary-info > img {
    width: 100%;
    /* background-color: rgb(248, 6, 6); */
    /* object-fit: cover ; */
}

.summary-info > p {
    font-size: 18px;
    margin: 20px 0;
}

.summary-info > .sign-up {
    width: fit-content;
    height: auto;
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div {
    width: 1000px;
}
.additional-info-container {
    width: 1000px;
    height: 600px;
    align-content: center;
    
}

.additional-info-container > h3 {
    text-align: center;
    font-size: 36px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    
}

.additional-info-boxes {
    margin: 20px;
}

.additional-info-boxes > img {
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    border: 5px solid #3882f6;
    border-radius: 1rem;
}
.additional-info-boxes > p {
    text-align: center;
}


.inspirational-quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e5e7eb;

}

.inspirational-quote-container > p {
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    padding: 50px;
    color: #1f2937;
}

.call-to-action-container {
    background-color: red;
    width: 100px;
    height: 100px;
}



footer {
    background-color: #1f2939;
}