* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px dotted red; */
}


header {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #1f2937;
    color: #F9FAF8;
    align-items: center;
}

.navigation-bar {
    display: flex;
    width: 85%;
    padding: 5px;
}

.navigation-bar > h1,
.navigation-bar > ul {
    width: 50%;

}

.header-link-box {
    display: flex;
    flex-direction: row;
}

.header-link-box > li{
    flex: 1;
    text-align: center;
    align-content: center;
    list-style: none;    
}



.summary {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
}

.summary-info {
    flex: 1 1 auto;
    width: 50%;
    height: 60%;
    align-content: center;
    align-self: center;
    background-color: grey;

}

.summary-info > h2 {
    font-size: 48px;
}

.header-picture {
    width: 100%;
    background-color: grey;
}



.text {
    background-color: inherit;
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
}

.additional-info-container {
    background-color: deepskyblue;
    width: 85%;
}

.additional-info {
    display: flex;
}

.additional-info-boxes {
background-color: darkred;
flex: 1;
}

.additonal-info-boxes > img {
    border-radius: 5px;
}